In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
#dataset sample columns
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
#basic statistics of the training dataset
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
# test data description
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
test_data.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [5]:
women = train_data[train_data['Sex'] == 'female']['Survived']
rate_women_survived = sum(women)/ len(women)
print(" The percentage of women who has survived is {}".format( rate_women_survived))

men = train_data[train_data['Sex'] == 'male']['Survived']
rate_men_survived = sum(men)/ len(women)
print(" The percentage of women who has survived is {}".format( rate_men_survived))

 The percentage of women who has survived is 0.7420382165605095
 The percentage of women who has survived is 0.3471337579617834

In [6]:
#Machine learning algorithm application
#import machine learning library
import sklearn.ensemble 
from sklearn.ensemble import RandomForestClassifier

In [7]:
y_tr = train_data["Survived"]

#Relevant features
features = ["Pclass", "Sex", "SibSp", "Parch"]

#converting string/categorical variables into dummy/indicator variables
X_tr = pd.get_dummies( train_data[ features ] )
X_ts = pd.get_dummies( test_data [ features ] )


classifier = RandomForestClassifier( n_estimators = 100, max_depth = 5, random_state= 1)
classifier.fit(X_tr,y_tr)

#survival predictions
pred = classifier.predict( X_ts )

print( pred[:5] )

output = pd.DataFrame({ 'PassengerId': test_data['PassengerId'], 'Survived': pred })
output.to_csv("my_submission.csv", index=False)
print("Your submission was successfully saved!")

[0 1 0 0 1]
Your submission was successfully saved!